*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-background-color: #0f4c81;
  --primary-text-color: #fdfdfd;
  --secondary-text-color: #333333;
  --primary-font-family: 'Dosis', sans-serif;
}

body {
  font-family: var(--primary-font-family);
}

button {
  font-family: var(--primary-font-family);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbar-height {
  height: 7rem;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  font-weight: 500;
  font-size: 2rem;
}

.navbar-tabs {
  display: flex;
}

.navbar-items {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.expense-list-container {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

.expense-list-title {
  font-size: 4rem;
  color: var(--secondary-text-color);
}

.expense-create-btn {
  border: var(--primary-background-color) 1px solid;
  width: 200px;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 1rem 1rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.expense-create-btn:hover {
  background-color: white;
  color: var(--primary-background-color);
}

.expense-container {
  display: grid;
  border: var(--primary-background-color) 2px solid;
  height: 10rem;
  margin: 3rem 3rem;
  grid-template-columns: 10rem auto;
  transition: transform 0.3s ease;
}

.expense-container:hover {
  transform: scale(1.1);
}

.expense-date-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.expense-date-day {
  font-size: 3rem;
  font-weight: 300;
}

.expense-info-container {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: auto max-content;
}

.expense-amount-container {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.expense-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.expense-type {
  font-size: 1.5rem;
}

.expense-description {
  font-size: 1.5rem;
}

